// Archive Section
.fl-post-feed-post {
  border: 0;
}

.fl-post-feed > .fl-post-feed-post:first-child {
  article:first-of-type {
    margin-top: 0 !important;
  }
}

.fl-post-feed-post.fl-post-feed-image-beside, .fl-post-feed-post.fl-post-feed-image-beside-content, .fl-post-feed-post.fl-post-feed-image-beside-right, .fl-post-feed-post.fl-post-feed-image-beside-content-right {
  @include mobile {
    max-width: initial;
  }
}
/* Layout  */
.fl-row-content-wrap {
  @include mobile {
    padding-top:0;
  }
}

input[type="email"], input[type="number"], input[type="password"], input[type="reset"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
  color: var(--color-mnc-text);
  padding: .75rem;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-mnc-text);
  border-radius: 2px;
  background: white;
  box-shadow: none;
  box-sizing: border-box;
  transition: all .2s linear;
}