

.mnc-terms {
  a {
    color: var(--color-mnc-text);

    &:hover {
      color: var(--color-mnc-gruen);
      text-decoration: underline;
    }
  }

  margin-bottom: 0.5rem;
}

.mnc-list-top-stories {
  ul {
    @include no-list;
  }

  .mnc-item-top-stories {

    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    @include mobile {
      grid-template-columns: 1fr;
    }

    .mnc-scale-img-hover {
      overflow: hidden;

      img {
        object-fit: cover;
        min-height: 200px;
      }
    }

    .mnc-title {
      a, h3 {
        text-decoration: none !important;
        color: var(--color-mnc-blau);

        &:hover {
          color: var(--color-mnc-gruen);
          text-decoration: underline !important;
        }
      }
    }

    .mnc-excerpt {
      margin-top: 1rem;
      line-height: 1.5rem;
    }

    .more {
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }

      margin-left: 0.75rem;
    }

  }

}


.mnc-custom-post {

  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  @include mobile {
    grid-template-columns: 1fr;
  }

  .mnc-scale-img-hover {
    overflow: hidden;

    img {
      border-radius: 1rem;
      object-fit: cover;
      min-height: 200px;
    }
  }

  .mnc-title {
    a, h3 {
      text-decoration: none !important;
      color: var(--color-mnc-text);

      &:hover {
        text-decoration: underline !important;
      }
    }

    h3 {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  .more {
    &:hover {
      text-decoration: underline;
    }
  }

  .mnc-excerpt {
    line-height: 1.5rem;
  }

}

.mnc-list-categories {
  @include no-list;
  display:grid;
  gap:1rem;
  grid-template-columns: 1fr 1fr;
  li a {
    display:block;
    width:100%;
    border:1px solid var(--color-mnc-gruen);
    padding:1rem;
    @include uppercase;
    font-size: 0.8rem;
    &:hover {
      border:1px solid var(--color-mnc-blau);
      text-decoration: underline;
    }
  }
}

/*<<div class="mnc-item-weitere-stories">
    <a class="more" href="<?= get_permalink( $post->ID ) ?>" title="Kompletten lesen für <?= get_the_title( $post->ID ) ?>">
        <div class="mnc-terms">
	        <?= get_the_term_list( $post->ID, 'category', '', ', ', '' ) ?>
        </div>
        <h4 class="uppercase"><?= get_the_title(); ?></h4>
        <div class="mnc-excerpt"><?= get_the_excerpt( $post ); ?></div>
    </a>

</div>
*/


.mnc-list-weitere-stories {
  ul {
    @include no-list;
  }
  .mnc-item-weitere-stories {
    display: block;
    border-top:1px solid var(--color-mnc-blau);
    margin-top: 2rem;
    & > a {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap:1rem;
      justify-content: space-between;
      align-items: center;
      background-color: yellow;
      @include mobile {
        grid-template-columns: 1fr;
      }
      h4 {
        text-decoration: none !important;
        color: var(--color-mnc-blau);
        font-size: 1rem;
        line-height: 1rem;
      }
      .mnc-terms {
        color:var(--color-mnc-text);
        font-size:0.7rem;
        margin:0 auto;
      }

    }

  }

}




