.fl-builder-content .fl-button-wrap  a.fl-button {
  background-color: $color_mnc_gruen;
  color:white;
  @extend .mnc-upper;
  @include bp(mobile) {
    text-align: center;
  }
}

.fl-builder-content a.fl-button, .fl-builder-content a.fl-button:visited {
  &:hover {
    background-color: $color_mnc_blau;
  }
  background-color: $color_mnc_gruen;
  color:white;
  span {
    color:white;
  }
}

.mnc-button {
  .uabb-button {
    background-color:#87a133 !important;
    color:#FFF;
    text-transform:uppercase;
    letter-spacing:0.05em;
    font-size:16px !important;
    font-weight:600 !important;
  }
  .uabb-button:hover {
    background-color:#172B3F !important;
  }
}