.fl-post-feed-post {
  border: 0;
}


.fl-post-feed > .fl-post-feed-post:first-child {
  article:first-of-type {
    margin-top: 0 !important;
  }
}

.fl-post-feed-post.fl-post-feed-image-beside, .fl-post-feed-post.fl-post-feed-image-beside-content, .fl-post-feed-post.fl-post-feed-image-beside-right, .fl-post-feed-post.fl-post-feed-image-beside-content-right {
  @include mobile {
    max-width:initial;
  }
}

.mnc-terms {
  a {
    color:var(--color-mnc-text);
    &:hover {
      color:var(--color-mnc-gruen);
      text-decoration: underline;
    }
  }
}


.mnc-custom-post {

  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  @include mobile {
    grid-template-columns: 1fr;
  }

  .mnc-scale-img-hover {
    overflow: hidden;

    img {
      border-radius: 1rem;
      object-fit: cover;
      min-height: 200px;
    }
  }

  .mnc-title {
    a, h3 {
      text-decoration: none !important;
      color: var(--color-mnc-text);

      &:hover {
        text-decoration: underline !important;
      }
    }

    h3 {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }

  .more {
    &:hover {
      text-decoration: underline;
    }
  }

  .mnc-excerpt {
    line-height: 1.5rem;
  }

}