.fl-post-feed-post {
  border: 0;
}


.fl-post-feed > .fl-post-feed-post:first-child {
  article:first-of-type {
    margin-top: 0 !important;
  }
}

.fl-post-feed-post.fl-post-feed-image-beside, .fl-post-feed-post.fl-post-feed-image-beside-content, .fl-post-feed-post.fl-post-feed-image-beside-right, .fl-post-feed-post.fl-post-feed-image-beside-content-right {
  @include mobile {
    max-width: initial;
  }
}

.mnc-terms {
  a {
    color: var(--color-mnc-text);

    &:hover {
      color: var(--color-mnc-gruen);
      text-decoration: underline;
    }
  }

  margin-bottom: 0.5rem;
}


.mnc-post-image {
  grid-area: postimg;
}

.mnc-post-terms {
  grid-area: postterms;
}

.mnc-post-title {
  grid-area: posttitle;
}

.mnc-post-excerpt {
  grid-area: postexcerpt;
}

.mnc-custom-post {

  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 220px 3fr;
  grid-template-areas:
      "postimg postterms"
      "postimg posttitle"
      "postimg postexcerpt";
  @include mobile {
    grid-template-columns: 1fr;
    grid-template-areas:
      "postterms"
      "posttitle"
      "postimg"
      "postexcerpt";
  }

  .mnc-post-image {
    overflow: hidden;
    padding-right: 1rem;
    @include mobile {
      padding-top: 0.5rem;
    }

    img {
      border-radius: 0.25rem;
      object-fit: cover;
      min-height: 140px;
    }
  }

  .mnc-post-terms {
    // display: flex;
    // gap: 0.5rem;

    a {
      @include badge;
      float: left;
      margin-right: 0.5rem;
    }
  }

  .mnc-post-title {
    a, h3 {
      text-decoration: none !important;
      color: var(--color-mnc-text);

      &:hover {
        color: var(--color-mnc-gruen);
        text-decoration: underline !important;
      }
    }

    h3 {
      margin-top: 0.25rem;
      font-size: 1.25rem;
      line-height: 1.2rem;
    }
  }

  .more {
    font-weight: 600;
    display: inline;
    margin-left: 0.75rem;
  }

  .mnc-post-excerpt {
    @include mobile {
      margin-bottom: 1rem;
    }
    color: black;
    margin-top: 0.75rem;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.2rem;
  }

}




.mnc-list-categories {
  @include no-list;
  @include black-link;
}

