.mnc-terms {
  a {
    color: var(--color-mnc-text);

    &:hover {
      color: var(--color-mnc-gruen);
      text-decoration: underline;
    }
  }

  margin-bottom: 0.5rem;
}


.mnc-list-categories {
  @include no-list;
  display:grid;
  gap:1rem;
  grid-template-columns: 1fr 1fr;
  @include mobile {
    display:block;
    li {
      margin-top:1rem;
    }
  }
  li a {
    transition: none;
    display:block;
    width:100%;
    color:var(--color-mnc-text);
    border:1px solid var(--color-mnc-text);
    padding:1rem;
    @include desktop {
      @include uppercase;
    }
    font-size: 0.8rem;
    &:hover {
      background-color:var(--color-mnc-blau);
      color:white;
      border:1px solid var(--color-mnc-blau);
      text-decoration: none;
    }
  }
}





