
.mnc-mega-menu {
  width:1000px;
  margin-left:-300px;
  .uabb-infobox-left-right-wrap {
    min-height:190px;
    padding:0.5rem !important;
    h1,h2,h3,h4 {
      text-transform: none !important;
    }
    .uabb-infobox-text {
      text-transform: none !important;
    }
  }
}