.mailster-form-info.error {
  @include error;
  background-color: var(--color-mnc-error-bg) !important;
  ul {
    margin-top:1rem !important;
    li {
      margin-top:0.5rem !important;
    }
    @include nicer-list("🤔", 1rem, 0.5rem);
  }
}
.mailster-_gdpr-wrapper {
  font-size:0.8rem;
}