.mnc-newsletter-anmeldeform {
  .fl-terms-checkbox-wrap {
    margin-top: 1rem;
    a {
      text-decoration: underline;
    }
  }
}

.rc-anchor-dark {
  background: var(--color-mnc-blau) !important;
  color: #fff;
}
