/* Variables
================================== */
$bw: 1px;  // border width
$breakpoint: 500px;


/* Tables
================================== */
.mi-pricetable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.mi-pricetable-cell {
  // display:flex;
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid $bw white;
  background-color:$color_text_white;
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
  img {
    margin-top:auto;
  }
  h2, h3 {
    text-align: center;
  }
}

/* Table column sizing
================================== */
.mi-pricetable--2cols > .mi-pricetable-cell  { width: 50%; }
.mi-pricetable--3cols > .mi-pricetable-cell  { width: 33.33%; }
.mi-pricetable--4cols > .mi-pricetable-cell  { width: 25%; }
.mi-pricetable--5cols > .mi-pricetable-cell  { width: 20%; }
.mi-pricetable--6cols > .mi-pricetable-cell  { width: 16.6%; }



/* Responsive
==================================== */
@media all and (max-width: $breakpoint) {
  .mi-pricetable--collapse  {
    display: block;
    > .mi-pricetable-cell { width: 100% !important; }
    > .mi-pricetable-cell--foot { margin-bottom: 1em; }
  }
}

// Non-Flex modernizer fallback
.no-flexbox .mi-pricetable {
  display: block;
  > .mi-pricetable-cell { width: 100%; }
  > .mi-pricetable-cell--foot { margin-bottom: 1em; }
}

$tableColour: slategrey;

/* Apply styles
================================== */
.mi-pricetable {
  position: relative; top: $bw; left: $bw; //compensate for border offset
}

/* Cell styles
================================== */
@mixin mi-pricetable-cell--dark {
  background-color:$color_dunkelblau;
  border-color: darken($tableColour,10%);
  color: white; > h1, > h2, > h3, > h4, > h5, > h6 { color: white; }
}
.mi-pricetable-cell--medium {
  background-color: mix(white,$tableColour,50%);
  border-color: mix(white,$tableColour,40%);
}
.mi-pricetable-cell--light {
  background-color: white;
  border-color: mix(white,$tableColour,80%);
}
.mi-pricetable-cell--highlight {
  background-color: lightgreen;
  border-color: darken(lightgreen,10%);
}
.mi-pricetable-cell--alert {
  background-color: darkorange;
  border-color: darken(darkorange,10%);
  color: white; > h1, > h2, > h3, > h4, > h5, > h6 { color: white; }
}

.mi-pricetable-cell {
  margin: -$bw 0 0 -$bw;  //border collapse offset
  @extend .mi-pricetable-cell--light;
  ul {
    margin-left:5px;
  }
}

.mi-description {
  font-size:11px;
}

// Inherit header and footer styles
.mi-pricetable-cell--head {
  justify-content: center;
  @include mi-pricetable-cell--dark;
}

.mi-price, .mi-cta {
  text-align:center;
  strong {
    font-size:2.5em;
    font-weight:300;
  }
  p {
    margin-top:20px;
    // line-height:4em;
  }
}
.mi-cta {
  button {
    font-weight: 400;
  }
}

@media all and (max-width: $breakpoint) {
  .hiddenSmall {display: none; }
}


/* Tab Styling
==================================== */
$tabColour: $color_gruen_logo;

.Tablist {
  display: flex;
  flex-direction: row;
  // margin-left: -$bw;
  @media all and (min-width: $breakpoint) { display: none; }
}
.Tab {
  padding: 5px;
  margin: 0 $bw $bw 0;
  text-align: center;
  background-color: $tabColour;
  border: solid 1px $tabColour;
  border-bottom-width: 0;
  border-radius: 0.5em 0.5em 0 0;
  font-weight: bold;
  color: $color_text_white;
  transition: background-color 0.1s;
  cursor: pointer;
  &:hover, &:focus {
    background-color: mix(white,$tabColour,10%);
    border-color: mix(white,$tabColour,10%);
    outline: none;
  }
  &[aria-selected="false"]:active {
    margin-top: 0.2em;
    padding-bottom: 0.4em;
  }
  &[aria-selected="true"] {
    color:$color_grau_dunkel;
    background: mix(white,$tabColour,90%);
    cursor: default;
  }
}

.mi-no-border {
  border:0;
}

@mixin mi-icon($size) {
  background-color:$color_text_white;
  width:$size;
  height:$size;
  border-radius:$size/2;
  position:absolute;
  top:57-$size;
  left:10px;
  background-repeat:no-repeat;
}

.mi-header-icon {
  @include mi-icon(50px);
}



.js-mi-pricetableTabs {
  min-width: 240px;
}

